@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-bar {
  &--light {
    @include light-navbar;
  }
  &--dark {
    @include dark-navbar;
  }
}

.nav-list {
  padding: 1rem $mob-hor-pad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  @include tablet {
    padding: 1.5rem 2.5rem;
  }
  @include desktop {
    max-width: 700px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  &__logo {
    @include mobile-svg;
  }

  &__link {
    font-weight: 700;
    font-size: 1.75rem;
    display: flex;
    gap: 0.4rem;
    color: inherit;
  }

  &__left-item {
    margin-left: auto;
  }

  &__toggle-btn {
    @include navbar-btns;
    display: flex;
    align-items: center;
    &--light {
      @include light-btn;
      &:hover {
        background-color: $light-mode-hover;
      }
    }
    &--dark {
      @include dark-btn;
      &:hover {
        background-color: $dark-mode-hover;
      }
    }
  }

  &__svg {
    @include mobile-svg;
  }

  &__btn {
    @include navbar-btns;
    font-size: 1.125rem;
    font-weight: $demi-bold;
    font-family: inherit;
    &--light {
      @include light-btn;
      &:hover {
        background-color: $light-mode-hover;
      }
    }
    &--dark {
      @include dark-btn;
      &:hover {
        background-color: $dark-mode-hover;
      }
    }
  }
}
