@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $RobotoFont, Arial, Helvetica, sans-serif;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
